<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SomeSaaS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        .user-panel {
            background: red !important;
            display: flex;
        }

        .user-details {
        }

        .user-details .displayName {
            font-weight: bold;
        }

        .user-actions{

        }
    </style>
</head>

@{
    string displayName = "UNAVAILABLE_DISPLAY_NAME";

    if (User.Identity.IsAuthenticated)
    {
        Claim nameClaim = User.Claims.FirstOrDefault(x => x.Type == JwtClaimTypes.Name);

        if (nameClaim != null)
        {
            displayName = nameClaim.Value;
        }
        else
        {
            Claim microsoftNameClaim = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Name);

            if (microsoftNameClaim != null)
            {
                displayName = microsoftNameClaim.Value;
            }
            else
            {
                Claim subjectClaim = User.Claims.FirstOrDefault(x => x.Type == JwtClaimTypes.Subject);

                if (subjectClaim != null)
                {
                    displayName = subjectClaim.Value;
                }
                else
                {
                    Claim microsoftSubjectClaim = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier);

                    if (microsoftNameClaim != null)
                    {
                        displayName = microsoftSubjectClaim.Value;
                    }
                }
            }
        }
    }
}

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SomeSaaS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OidcProviders" asp-action="List">OIDC Settings</a>
                            </li>
                        }
                    </ul>

                    <div class"user-panel">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="user-details">
                                <span>Logged in as </span>
                                <span class="displayName">@displayName</span>
                            </div>
                        }
                        <div class="user-actions">                            
                            @if (User.Identity.IsAuthenticated)
                            { 
                            <a href="/logout">Logout</a> 
                            }
                            else
                            {
                            <a href="/login">Login</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DynamicOidcProviders - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
